@page "/authors"
<!-- Authors Page -->

<div class="w3-container w3-light-grey full-height">
    <div class="w3-container" style="padding-top: 7%; padding-bottom: 1%;">
        <h1 style="text-align: center; font-weight: 700; color: #3C3C3C">Authors</h1>
    </div>
    <div class="w3-quarter" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <img src="Images/profile.png">
        </div>
        <h2 style="text-align: center; color: #3D3D3D">Gustavo Lourenço</h2>
        <p style="text-align: center; color: #737373">
            <a href="mailto: a89561@alunos.uminho.pt">a89561@alunos.uminho.pt</a>
        </p>
    </div>
    <div class="w3-quarter" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <img src="Images/profile.png">
        </div>
        <h2 style="text-align: center; color: #3D3D3D">João Machado</h2>
        <p style="text-align: center; color: #737373">
            <a href="mailto: a89561@alunos.uminho.pt">a89510@alunos.uminho.pt</a>
        </p>
    </div>
    <div class="w3-quarter" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <img src="Images/profile.png">
        </div>
        <h2 style="text-align: center; color: #3D3D3D">Leonardo Marreiros</h2>
        <p style="text-align: center; color: #737373">
            <a href="mailto: a89537@alunos.uminho.pt">a89537@alunos.uminho.pt</a>
        </p>
    </div>
    <div class="w3-quarter" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <img src="Images/profile.png">
        </div>
        <h2 style="text-align: center; color: #3D3D3D">Martim Almeida</h2>
        <p style="text-align: center; color: #737373">
            <a href="mailto: a89501@alunos.uminho.pt">a89501@alunos.uminho.pt</a>
        </p>
    </div>
</div>