@page "/contacts"
<!-- Contacts Page -->

<div class="w3-container w3-light-grey full-height">
    <div class="w3-container" style="padding-top: 7%; padding-bottom: 3%;">
        <h1 style="text-align: center; font-weight: 700; color: #3C3C3C">Contacts</h1>
    </div>
    <div class="w3-third" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <i class="material-icons" style="font-size:60px;color:grey;">place</i>
        </div>
        <h2 style="text-align: center; color: #3D3D3D">Location</h2>
        <p style="text-align: center; color: #737373">
            <a href="https://bit.ly/2S8NJ1y" target="_blank">
                R. da Universidade, 4710-057 Braga
            </a>
        </p>
    </div>
    <div class="w3-third" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <i class="material-icons" style="font-size:60px;color:grey;">email</i>
        </div>
        <h2 style="text-align: center; color: #3D3D3D">Email</h2>
        <p style="text-align: center; color: #737373">
            <a href="mailto: ipmp@seimum.org">ipmp@seimum.org</a>
        </p>
    </div>
    <div class="w3-third" style="padding: 5%">
        <div style="text-align: center; padding: 5%">
            <i class="material-icons" style="font-size:60px;color:grey;">call</i>
        </div>
        <h2 style="text-align: center; color: #3D3D3D">Phone Number</h2>
        <p style="text-align: center; color: #737373">
            <a href="tel:+351987654321">987 654 321</a>
        </p>
    </div>
</div>

