@page "/services"

<!-- Services Page -->
    <div class="w3-container w3-light-grey full-height" style="padding-bottom:7%">
        <div class="w3-container" style="padding-top: 7%; padding-bottom: 3%;">
            <h1 style="text-align: center; font-weight: 700; color: #3C3C3C">Services</h1>
        </div>
        <div class="w3-third" style="padding: 5%">
            <div style="text-align: center; padding: 5%">
                <a href="current">
                    <img src="Images/services1.png">
                </a>
            </div>
            <h2 style="text-align: center; color: #3D3D3D">Current Siesmic Activity</h2>
            <p style="text-align: center; color: #737373">Allows you to inspect current seismic activity at your location. </p>
        </div>
        <div class="w3-third" style="padding: 5%">
            <div style="text-align: center; padding: 5%">
                <a href="queries">
                    <img src="Images/services2.png">
                </a>
            </div>
            <h2 style="text-align: center; color: #3D3D3D">Query an Area's Seismic Activity</h2>
            <p style="text-align: center; color: #737373">Allows you to check siesmic activity given a location, radius and time interval.</p>
        </div>
        <div class="w3-third" style="padding: 5%">
            <div style="text-align: center; padding: 5%">
                <a href="#">
                    <img src="Images/services3.png">
                </a>
            </div>
            <h2 style="text-align: center; color: #3D3D3D">Security Level</h2>
            <p style="text-align: center; color: #737373">Based on your current location's seismic history, estimates your safety level.</p>
        </div>
    </div>

