<!-- Landing Page -->

<div class="w3-container w3-light-grey w3-padding">
  <div style="padding-left: 5%">
    <h1 class="w3-xxxlarge w3-animate-bottom">What are we?</h1>
    <h4 style="color: #7F7F7F">SysmUM is a real time earthquake monitoring <br>system that notifies you every time you are in the <br>vicinity of an earthquake. </h4> 
        <div class="w3-padding-32">
        <button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey" onclick="document.getElementById('id01').style.display='block'" style="font-weight:900; border-radius: 5px;">Register</button>
        </div>
  </div>
</div>
