@using SysmumDataAccessLibrary.Models
@using SysmumDataAccessLibrary
@inject NavigationManager NavigationManager
@inject IUserData _db
@inject IJSRuntime JSRuntime

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:800px">
        <div class="w3-center">
            <br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        </div>
        <div class="w3-container w3-white">
            <div style="padding-left: 5%" class="w3-left">
                <h1 class="w3-xlarge" style="font-weight:700; color: #3D3D3D">Create an Account</h1>
                <h1 class="w3-small" style="font-weight:700; color: #3D3D3D">Already an user? <a style="padding-left: 1%; color: blue" onclick="document.getElementById('id01').style.display='none'; document.getElementById('id02').style.display='block'" href="#">Sign in</a> </h1>
                <EditForm Model="@user" OnValidSubmit="@RegisterUser" class="w3-container" style="width: 165%;" action="/action_page.php">
                    <div class="w3-section">
                        <input class="w3-input w3-border w3-margin-bottom w3-hover-border-dark-grey" type="text" @bind="user.name" placeholder="Enter Name" name="name" required>
                        <input class="w3-input w3-border w3-margin-bottom w3-hover-border-dark-grey" @bind="user.username" type="text" placeholder="Enter Username" name="usrname" required>
                        <input class="w3-input w3-border w3-margin-bottom w3-hover-border-dark-grey" @bind="user.email" type="email" placeholder="Enter Email" name="email" required>
                        <input class="w3-input w3-border w3-hover-border-dark-grey" type="password" @bind="user.password" placeholder="Enter Password" name="psw" required>
                        <div class="popup" style="width: 100%;">
                            <button class="w3-button w3-block w3-dark-grey w3-section w3-padding w3-margin-bottom" type="submit">Sign Up</button>
                            <span class="popuptext" id="myPopup">@LoginMessage</span>
                        </div>
                        <div class="w3-border-top w3-small">
                            <p style="text-align: center; padding-top: 2%; font-weight:700">V 1.0.0</p>
                        </div>

                    </div>

                </EditForm>
            </div>
            <div style="padding: 8%; padding-left: 6%" class="w3-right">
                <img src="Images/login.png" style="height: 320px;">
            </div>
        </div>
    </div>
</div>


@code {

    private UserSysmumModel user;
    public string LoginMessage { get; set; }

    protected override Task OnInitializedAsync()
    {
        user = new UserSysmumModel();
        return base.OnInitializedAsync();

    }

    private async Task<bool> RegisterUser()
    {
        List<UserSysmumModel> newuser = await _db.getUser(user);
        if (newuser.Count == 0)
        {
            LoginMessage = "Account created successfully!";
            await _db.InsertUser(user);
            await JSRuntime.InvokeVoidAsync("close2");
            await JSRuntime.InvokeVoidAsync("reload");
        }
        else
        {
            LoginMessage = "User already Exists";
        }
        //meter na db
        await JSRuntime.InvokeVoidAsync("popup");
        return await Task.FromResult(true);
    }
}